<nav>
  <a href="/bands" class="back bg20" style="position: absolute;"><i class="material-icons">keyboard_arrow_left</i></a>
  <a href="/bands/{{band.band_id}}" class="link bg20 w250">{{band.name}}</a>
</nav>
<div id="content" class="band-content">
  <div id="gigs" class="panel">
    <div class="panel-side">
      <div class="heading">Upcoming Gigs</div>
      {{#band.gigs}}
        <label for="gig-{{gig_id}}" class="title">
          <div>{{date}}</div>
          <div>{{venue}}</div>
        </label>
      {{/band.gigs}}
    </div>
    {{#band.gigs}}
      <input id="gig-{{gig_id}}" type="radio" name="gig">
      <div class="panel-main">
        <div class="gig-title">{{venue}}</div>
        <div class="gig-date">
          <div>Date</div>
          <div>{{date}}</div>
        </div>
        <div class="gig-load">
          <div>Load</div>
          <div>{{loadInTime}}</div>
        </div>
        <div class="gig-start">
          <div>Start</div>
          <div>{{startTime}}</div>
        </div>
        <div class="gig-end">
          <div>End</div>
          <div>{{endTime}}</div>
        </div>

        <div class="gig-setlist">setlist_title</div>

        <!-- Loop over songs in setlist -->
        <input id="gig-{{gig_id}}-song-song_id" type="checkbox" name="setlist-0">
        <label class="gig-song" for="gig-{{gig_id}}-song-song_id">song_title</label>
        <div class="song-info">
          <div class="song-key">
            <div>Key</div>
            <div>song_key</div>
          </div>
          <div class="time-signature">
            <div>Signature</div>
            <div>time_signature</div>
          </div>
          <div class="feel">
            <div>Feel</div>
            <div>feel</div>
          </div>
          <div class="tempo">
            <div>Tempo</div>
            <div>tempo</div>
          </div>
        </div>

      </div>
    {{/band.gigs}}
</div>
