<!DOCTYPE html>
<html>
  <head>
    <title>Kyoto.fm - Keep your shit together</title>
    <link rel='stylesheet' href='/style.css'>
    <script type="text/javascript" src="/client.js" defer></script>
  </head>
  <body>
    <script>
      window.fbAsyncInit = () => FB.init({appId: '1733575366928508', xfbml: true, version: 'v2.6'});
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <form method="post" class="abs-right auth ts w200">
      {{#if user}}
        <a href="/users/signout" class="right link signout">Sign Out</a>
        {{#if isAdmin}}
          <div class="right link f13 bg200">{{user.name}}</div>
        {{else}}
          <div class="right link f13 bg20">{{user.name}}</div>
        {{/if}}
      {{else}}
        <div class="right link signin ts">Sign In</div>
        <div class="right link signup ts">Sign Up</div>
        <i class="abs-right material-icons close">close</i>
        <input type="text" name="username" placeholder="Enter Username" class="w200 auth-input" required>
        <input type="password" name="password" placeholder="Enter Password" class="w200 auth-input" required>
        <div class="w200">
          <a href="/auth/facebook/callback" class="link facebook">Facebook</a>
          <div class="link google">Google</div>
        </div>
        <button type="submit" class="link w200 bg20">Submit</button>
      {{/if}}
    </form>
    {{{body}}}
  </body>
</html>
